.Shop{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    z-index: 4;
}
.shop-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.shop-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; 
    transition: 0.5s;
}
.layer:hover{
   background: rgba(226,0,0,0.7); 
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.Sports{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-bottom: auto;
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
    
}
.Sports-col{
    float: left;
    flex-basis: 33.33%;
    background: #fadada;
    border-radius: 10px;
    margin-bottom: auto;
    padding: 10px 5px;
    box-sizing: border-box;
    transition: 0.5s;
    margin-left: 5px;
    
}
h3{
    color: black;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.Sports-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.753);  
}
@media(max-width: 700px){
    .row{
        flex-direction:column;
    }
}
