*{
    margin: 0;
    padding: 0;
}

html{
  scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
    }






/*--------------------------side navigation panel--------------------*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#main {
    transition: margin-right .8s;
    padding: 20px;
}



h1{
     z-index: 1 !important;
    /* color: #FFFFFF !important; */
    font-size: 70px !important;
    text-transform: uppercase !important;
    font-weight: 800 !important;
    justify-content: center !important;
    align-items: center !important;
    }




@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*---------------------------marqueee effect---------------------------*/

:root{
  --marquee-width: 100vw;
  --marquee-height: 100vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 4;
  --marquee-element-width: 100%;
  --marquee-animation-duration: calc(var(--marquee-elements) * 9s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: #222526;
  color: #eee;
  /* overflow: hidden; */
  position: relative;
}


.marquee-content {
  list-style: none;
  width: 60vw;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: 100%;
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  width: 200%;
  height: 100%; 
  

}

@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
    
}